*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
}

.background {
  /* display: block;
  width: min(30vw, 100%);
  height: 100vh;
  background-image: url("bg.jpg"); */
}

img {
  width: max(30vw, 100%);
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section1,
.section2 {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  width: 100%;
}
